/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 0px 2px 10px 4px #888888;
  border: 4px solid #FFFFFF;
/*  border-radius: 23px 23px 23px 23px;*/
  height: 40px;
  width : 40px;
  margin-top: 30px;
  top: 70px!important;
  color: #172741;

}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #ffffff;
  box-shadow: 0px 2px 10px 4px #888888;
  border: 4px solid #FFFFFF;
  /*border-radius: 23px 23px 23px 23px;*/
  height: 40px;
  width : 40px;
  margin-top: 30px;
  top:70px!important;
  color: #172741;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  /*width: 250px;
  height: 100px*/
}
/* End carousel */
.mug-info{
	border: 5px solid #257DB7;

}