.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/*FOOTER STYLE*/
.footer-bs {
    background-color: #111111;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 0px;
   /* border-bottom-right-radius: 6px;*/
    border-top-left-radius: 0px;
    /*border-bottom-left-radius: 6px;*/
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; /*text-transform:uppercase*/; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

 .bunder
 {
    height: 100px;
    width: 100px;
 }

 /*CAROUSEL*/
 .main-text
{
    position: absolute;
    top: 50px;
    width: 100%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: #61336A;
    border-color: #61336A;
    margin-right: -166px;
    margin-top: 357px;
    margin-left: 978px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.kosong
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing
{
    font-size: 13.4px;

}

.kotak-dalam
{
    border: 20px solid white;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 2px 10px 4px #888888;
}

.ukuran-slide
{
    height: 500px;
    width: 100%!important;
}

/*BREADCRUMB*/


.steps {
  margin: 0px;
  padding: 0;
  overflow: hidden;
}
.steps a {
  color: white;
  text-decoration: none;
}
.steps em {
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
}
.steps li {
  float: left;
  margin-left: 0;
  width: 300px; /* 100 / number of steps */
  height: 70px; /* total height */
  list-style-type: none;
  padding: 5px 5px 5px 30px; /* padding around text, last should include arrow width */
  border-right: 3px solid white; /* width: gap between arrows, color: background of document */
  position: relative;
}
/* remove extra padding on the first object since it doesn't have an arrow to the left */
.steps li:first-child {
  padding-left: 5px;
}
/* white arrow to the left to "erase" background (starting from the 2nd object) */
.steps li:nth-child(n+2)::before {
  position: absolute;
  top:0;
  left:0;
  display: block;
  border-left: 25px solid white; /* width: arrow width, color: background of document */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width: 0;
  height: 0;
  content: " ";
}
/* colored arrow to the right */
.steps li::after {
  z-index: 1; /* need to bring this above the next item */
  position: absolute;
  top: 0;
  right: -25px; /* arrow width (negated) */
  display: block;
  border-left: 25px solid #E57E90; /* width: arrow width */
  border-top: 40px solid transparent; /* width: half height */
  border-bottom: 40px solid transparent; /* width: half height */
  width:0;
  height:0;
  content: " ";
}
.stepakhir {
    border-top: 0px!important;
    border-bottom: 0px!important;
}

/* Setup colors (both the background and the arrow) */

/* Completed */
.steps li { background-color: #E57E90; }
.steps li::after { border-left-color: #E57E90; }

/* Current */
.steps li.current { background-color: #CD3278; }
.steps li.current::after { border-left-color: #CD3278; }

/* Following */
.steps li.current ~ li { background-color: #E57E90; }
.steps li.current ~ li::after { border-left-color: #E57E90; }

/* Hover for completed and current */
.steps li:hover {background-color: #CD3278}
.steps li:hover::after {border-left-color: #CD3278}


.mintaborder {
    border: 2px solid #172741;
    font-size: 20px;
}

.headerbayar {
    background-color: #273746!important;
    font-weight: bold!important;
    font-style: italic!important;
    color: #ffffff!important;
}

.textketerangan {
    color: #000000!important;
    font-size: 14px;
}

.textharga {
    color: #000000!important;
    font-style: 18px;
    float: right;
}
/*ACCORDION COLAPSIBLE*/


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px!important;
    background-color: white;
    max-height: 0!important;
    overflow: hidden!important;
    transition: max-height 0.2s ease-out!important;
}

/*ACCORDION COLLAPSIBLE ENDS HERE*/

/*TULISAN MIRING MIRING*/

.mintamiring {
    color: #172741;
    font-weight: bold;
    font-style: italic;

}

.mintamiring-pink {
    color: #CD3278;
    font-style: bold;
    font-style: italic;
    font-size: 18px;
    border-bottom: none!important;
}

/*TULISAN MIRING MIRING ENDS HERE*/

/*EDITOR MUG STYLE*/

.editormug {
    border: solid 3px #FF0080;
    max-height: 760px;
}

.bordereditor {
    border: solid 10px #172741;
    padding-right: 0;
    padding-left: 0;
}

.btneditor {
    background-color: #172741;
    font-size: 10px;
    color: white;
    vertical-align: middle;
}

/*SPECTRUM JS*/
.full-spectrum .sp-palette {
max-width: 200px;
}

.hasilproduk {
    max-height: 200px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px
}

/*ICON POPUP*/
.sosmedpop {
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px
}
/*ICON POPUP ENDS HERE*/

.jarakicon {
  padding-right: 5px;
}

/*CIRCLE BG*/
.round {
  -webkit-border-top-left-radius: 1px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;

  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 4px;

  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 4px;
}